.agile_mail_grid_left input[type="password"]
{
    outline: none;
    border: 1px solid #E4E4E4;
    background: #f5f5f5;
    font-size: 14px;
    color: #212121;
    padding: 15px;
    width: 100%;
}
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    line-height: normal;
}
.m_s_cont .gall a img {
  float: left;
  border: 2px solid #fff;
  -webkit-transition: -webkit-transform .15s ease;
  -moz-transition: -moz-transform .15s ease;
  -o-transition: -o-transform .15s ease;
  -ms-transition: -ms-transform .15s ease;
  transition: transform .15s ease;
  position: relative;
}

.m_s_cont .gall a:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 5;
}

.m_s_cont{
    width: 950px;
}

.cle {
  clear: both;
  float: none;
  width: 100%;
}
.acc_pass input[type="password"]
{
    outline: none;
    border: 1px solid #E4E4E4;
    background: #f5f5f5;
    font-size: 14px;
    color: #212121;
    padding: 15px;
    width: 100%;
}
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    line-height: normal;
}